{% extends 'base.html' %}

{% block content %}
    <h2>{% block title %} Upload File {% endblock %}</h2>
    <form method=post enctype=multipart/form-data>
        <div style="max-width: 400px;">
            <div class="form-group">
                <label for="table_name">Table name</label>
                <input required name="table_name" id="table_name" type="text" class="form-control" placeholder="Type the table name">
              </div>
              <div class="form-group">
                <label for="operation-type">Operation type</label>
                <select required name="operation_type" class="form-control" id="operation-type">
                  <option value="update">Update</option>
                  <option value="insert">Insert</option>
                </select>
              </div>
              <div class="form-group">
                <input required id="file" type=file name=file>
              </div>
              <button type="submit" class="btn btn-primary">Generate</button>
        </div>
      </form>
{% endblock %}